* {
  box-sizing: border-box;
  display: 0;
  margin: 0;
}
label {
  text-align: center;
}

.centrato {
  text-align: center;
  padding-bottom: 30px;
}

HEADER h1 {
  text-align: center;
  padding: 30px;
}

body {
  width: 100%;
  background-color: #b91450;
}
.container {
  width: 80%;
  height: auto;
  margin: 30px auto;
  background-color: white;
  box-shadow: 5px 5px black;
  border-radius: 10px;
  display: flex;
}
.col-4 {
  display: inline-block;
  margin: 65px;
  padding-left: 50px;
}

.container .col-4 h2 {
  padding-bottom: 25px;
  text-align: center;
}

.container .col-4 h2 input {
  border-radius: 10px;
}

.form_mio {
  border-radius: 10px;
  text-align: center;
}

.card {
  position: relative;
  text-align: center;
  display: flex;
  height: 150px;
  width: 100%;
}
.form_group {
  padding-top: 20px;
  padding-right: 50px;
}
.bottoni {
  align-items: center;
}

.quadro_grigio {
  width: 200px;
  height: 80%;
  margin: auto;
  background-color: gray;
}
.quadro_bianco {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  width: 100%;
  height: 80%;
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.quadro_bianco h3 {
  margin: 20px;
}
